.menu {
  &__close {
    position: relative;
    margin-right: auto;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      background-color: #000;
      transform-origin: center;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    transition: left ease-in-out 0.3s;
    padding: 17px 15px;
    font-size: 14px;
    overflow: scroll;
    text-align: center;
    background: $header-top-bg;
    &.open {
      left: 0;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__container {
    padding-top: 6px;
  }
  &__list {
    margin-bottom: 20px;
  }
  &__select,
  &__link {
    padding-bottom: 11px;
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  &__select {
    display: flex;
    align-items: center;
    cursor: pointer;
    &::after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 5px;
      margin-left: 5px;
      background: url("../images/arrow-menu.svg") no-repeat center / cover;
    }
    &.active + ul {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
  &__discount {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin-left: 5px;
    &::after {
      content: "%";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      color: #ffffff;
      background-color: $bg-percent;
      text-decoration: none;
      border-radius: 50%;
    }
  }
  &__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    &-item {
      padding: 7px 0;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 600;
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      background: url("../images/phone.svg") no-repeat center / cover;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__location {
    font-weight: 600;
    .menu__select {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background: url("../images/place.svg") no-repeat center / cover;
      }
    }
  }
}
