mixin header()
    header.header
        .header__top
            .header__wrap
                button#burgerMenu.header__burger
                    .header__burger-line
                    .header__burger-line
                    .header__burger-line
                .header__logo-mobile
                    img.header__logo-image(src='assets/images/logo-mobile.svg', alt='Macaron Shop')

                .header__nav
                    ul.header__nav-list
                        li.header__nav-item: a.header__nav-link(href='#') Гарантия свежести
                        li.header__nav-item: a.header__nav-link(href='#') Доставка и оплата
                        li.header__nav-item: a.header__nav-link(href='#') Оптовые поставки
                        li.header__nav-item: a.header__nav-link(href='#') Контакты
                .header__location
                    span.header__city Санкт-Петербург
                    ul.header__city-list
                        li.header__city-item: a(href='#') Москва
                        li.header__city-item: a(href='#') Екатеринбург
                        li.header__city-item: a(href='#') Челябинск
                        li.header__city-item: a(href='#') Уфа
                .header__contacts
                    a.header__phone(href='tel:+78123098288') 8 812 309-82-88
                    a.header__cart(href='#')
                        .header__cart-counter 4
                        | В корзине (4 товара)
                .header__socials
                    a.header__social-icon.header__social-icon--tg(href='#')
                        img(src="./assets/images/tg.svg")
                    a.header__social-icon.header__social-icon--vk(href='#')
                        img(src="./assets/images/vk.svg")
                    a.header__social-icon.header__social-icon--ok(href='#')
                        img(src="./assets/images/ok.svg")

        .header__main
            .header__main-container
                .header__menu.header__menu--left
                    a.header__menu-item(href='#') 
                        | СЛАДКИЕ ДНИ 
                        span.header__percent %
                    .header__menu-item.header__menu-item--dropdown
                        span.header__select ПОДАРОЧНЫЕ НАБОРЫ
                        ul.header__submenu
                            li.header__submenu-item: a(href='#') Пирожные макарон
                            li.header__submenu-item: a(href='#') Эклеры
                            li.header__submenu-item: a(href='#') Вафельные трубочки
                            li.header__submenu-item: a(href='#') Профили
                    a.header__menu-item(href='#') СОБРАТЬ НАБОР

                .header__logo
                    img.header__logo-image(src='assets/images/logo-desctop.png', alt='Macaron Shop')

                .header__menu.header__menu--right
                    a.header__menu-item(href='#') СОЗДАТЬ ДИЗАЙН
                    .header__menu-item.header__menu-item--dropdown
                        span.header__select КОМПАНИЯМ
                        ul.header__submenu
                            li.header__submenu-item: a(href='#') Пирожные макарон
                            li.header__submenu-item: a(href='#') Эклеры
                            li.header__submenu-item: a(href='#') Вафельные трубочки
                            li.header__submenu-item: a(href='#') Профили
                    .header__menu-item.header__menu-item--dropdown
                        span.header__select ВЕСЬ КАТАЛОГ
                        ul.header__submenu
                            li.header__submenu-item: a(href='#') Пирожные макарон
                            li.header__submenu-item: a(href='#') Эклеры
                            li.header__submenu-item: a(href='#') Вафельные трубочки
                            li.header__submenu-item: a(href='#') Профили
        //- Мобильное меню
        #navMenu.menu.menu--mobile
            //- .menu__overlay
            button.menu__close
            .menu__container
                .menu__location.js-submenu
                    span.menu__select Санкт-Петербург
                    ul.menu__submenu.menu__city-list
                        li.menu__submenu-item.menu__city-item: a(href='#') Москва
                        li.menu__submenu-item.menu__city-item: a(href='#') Екатеринбург
                        li.menu__submenu-item.menu__city-item: a(href='#') Челябинск
                        li.menu__submenu-item.menu__city-item: a(href='#') Уфа
                ul.menu__list
                    li.menu__item: a.menu__link(href="#") СЛАДКИЕ ДНИ
                        span.menu__discount %
                    li.menu__item.menu__item--dropdown.js-submenu
                        span.menu__select ПОДАРОЧНЫЕ НАБОРЫ
                        ul.menu__submenu
                            li.menu__submenu-item: a(href="#") Гарантия свежести
                            li.menu__submenu-item: a(href="#") Доставка и оплата
                            li.menu__submenu-item: a(href="#") Оптовые поставки
                            li.menu__submenu-item: a(href="#") Контакты
                    li.menu__item: a.menu__link(href="#") СОБРАТЬ НАБОР
                    li.menu__item: a.menu__link(href="#") СОЗДАТЬ ДИЗАЙН
                    li.menu__item.menu__item--dropdown.js-submenu
                        span.menu__select КОМПАНИЯМ
                        ul.menu__submenu
                            li.menu__submenu-item: a(href="#") Гарантия свежести
                            li.menu__submenu-item: a(href="#") Доставка и оплата
                            li.menu__submenu-item: a(href="#") Оптовые поставки
                            li.menu__submenu-item: a(href="#") Контакты
                    li.menu__item.menu__item--dropdown.js-submenu
                        span.menu__select ВЕСЬ КАТАЛОГ
                        ul.menu__submenu
                            li.menu__submenu-item: a(href="#") Гарантия свежести
                            li.menu__submenu-item: a(href="#") Доставка и оплата
                            li.menu__submenu-item: a(href="#") Оптовые поставки
                            li.menu__submenu-item: a(href="#") Контакты
                a(href="tel:88123098288").menu__phone 8 812 309-82-88
                .menu__socials
                    a.menu__social(href="#"): i.icon.icon--tg
                        img(src="./assets/images/tg.svg")
                    a.menu__social(href="#"): i.icon.icon--vk
                        img(src="./assets/images/vk.svg")
                    a.menu__social(href="#"): i.icon.icon--ok
                        img(src="./assets/images/ok.svg")

