@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-black.woff2") format("woff2"), url("../fonts/Proximanova-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-bold.woff2") format("woff2"), url("../fonts/Proximanova-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-extrabold.woff2") format("woff2"), url("../fonts/Proximanova-extrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-light.woff2") format("woff2"), url("../fonts/Proximanova-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-regular.woff2") format("woff2"), url("../fonts/Proximanova-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
